@import "tailwindcss";

@theme {
    --color-eling-green: #2E7D32;
    --color-eling-red: #C62828;
    
    /* Admin Theme Variables */
    --color-admin-bg: #F8FAFC;
    --color-admin-primary: #0D9488;
    --color-admin-secondary: #0F172A;
    --color-admin-border: #E2E8F0;
    --color-admin-text-main: #0F172A;
    --color-admin-text-muted: #64748B;
    --color-admin-text-light: #94A3B8;
}

@layer base {
    body {
        @apply antialiased;
    }
}

@layer components {
    .animate-spin-slow {
        animation: spin 3s linear infinite;
    }
}
